<h2>Add a new product</h2>
<form (submit)="addProduct(addProductForm.value)" #addProductForm="ngForm">
    <!-- div class="form-group">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" name="id" ngModel>
    </div-->
    <div class="form-group">
      <label for="sku">* Sku</label>
      <input type="text" class="form-control" id="sku" name="sku" ngModel>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" ngModel>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" ngModel>
    </div>
    <div class="form-group">
      <label for="unit_price">Price</label>
      <input type="text" class="form-control" id="unitPrice" name="unitPrice" ngModel>
    </div>
    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      <input type="text" class="form-control" id="imageUrl" name="imageUrl" ngModel>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  <a routerLink="/productlist" class="btn btn-link">Product Management</a>