<div>
    <h2>Change Password</h2>
    <form (submit)="changepwd(changeForm.value)" #changeForm="ngForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder={{my_username}}  ngModel>
        </div>
        <div class="form-group">
            <label for="oldpassword">Old Password:</label>
            <input type="password" class="form-control" id="oldpassword" name="oldpassword" ngModel>
        </div>
        <div class="form-group">
            <label for="newpassword">New Password:</label>
            <input type="password" class="form-control" id="newpassword" name="newpassword" ngModel>
        </div>
        <div class="form-group">
            <label for="confirmpassword">Confirm Password:</label>
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" ngModel>
        </div> 
        <button class="btn btn-primary" type="submit">Click to change your password</button>
        <hr/>
        <a routerLink="/register" class="btn btn-link">Register a new user</a>
        <br>
        <a routerLink="/login" class="btn btn-link">LogIn</a>
    </form>
</div>