<table width="100%">
  <thead>
      <tr>
          <th><h3>Orders</h3></th>
          <th></th>
          <th align="right">Current User Name: {{my_username}}</th> 
            <th align="right">  Role: {{my_userrole}}</th>         
      </tr>
  </thead>
</table>
<!--div>
    <h2
      *ngFor="let order of orders | paginate: { itemsPerPage: 10, currentPage: pages }"
    >
      {{order.userId}}  {{order.totalPrice}} {{order.dateCreated}}
      <hr/>
    </h2>
  </div>
  
  <pagination-controls (pageChange)="pages = $event"></pagination-controls -->

  <!-- ng-container *ngIf="orders.length!=0" -->

      <table style="TABLE-LAYOUT: fixed" cellspacing="0" cellpadding="0">
          <thead>
              <tr>
                <th>No.</th>                
                <th>User</th>
                <th>Total Price</th>
                <th>Time Created</th>
                <th></th>
                <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let order of orders; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{order.orderusername}} </td>
                  <td>{{order.totalPrice}} </td>
                  <td>{{order.dateCreated}}</td>
                  <td align="right">
                    <button  class="btn btn-primary" (click)="toOrderDetails(order)">Details</button>
                  </td>
                  <!-- td><a href="/orderdetails">Details</a>  (click)="orderDetails(order)" </td -->
                  <td align="right">
                      <!-- span  class="del"><i (click)="removeorder(order)" class="fas fa-trash-alt del"></i></span -->
                      <button (click)="removeOrder(order)" class="btn btn-danger">Remove</button>
                  </td>
              </tr>
             
          </tbody>
      </table>

<!-- /ng-container>

<ng-container *ngIf="orders.length=== 0">
  <h1>My Order</h1>
  <div class="container">
      <div class="card">
          <i class="fas fa-exclamation"></i>
          <h3>There is no your order</h3>
          <h5>Add items to your shopping cart now</h5>
          <button routerLink="/product">Shop Again</button>
      </div>
  </div>
</ng-container -->


