div{
    text-align: center;
    padding: 10px;
  }
  h2{
    border: 1px solid black;
    padding: 10px;
  }
  .card{
    text-align: center;
    padding: 4rem;
    color: #452e10;
    align-items: center;
    justify-content: center;
}
i{
    color: rgb(245, 10, 10);
    font-size: 4rem;
}
.h6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30ch;
    font-weight: 600;}

.card button{
    width: fit-content;
    background-color: #ed6905;
    color: white;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
}
.del{
    background-color: none;
    font-size: 1rem;
}

img{
    width: 90%;
}


table{
    width: 100%;    
    padding: auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border-collapse:collapse;
}
table,th,tr,td{ 
 border-bottom:1px solid #dedede;
 padding: 10px;
}
