<div>
    <h2>Login</h2>
    <form (submit)="login(loginForm.value)" #loginForm="ngForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" ngModel>
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="password" class="form-control" id="password" name="password" ngModel>
        </div>
        <button class="btn btn-primary" type="submit">Click to login</button>
        <hr/>
        <a routerLink="/register" class="btn btn-link">Register a new user</a>
        <br>
        <a routerLink="/changepwd" class="btn btn-link">Change your password</a>
    </form>
</div>
