<table width="100%">
    <thead>
        <tr>
            <th><h2>My Shopping Cart</h2></th>
            <th>User: {{my_username}}</th>

        </tr>
    </thead>
</table>
<ng-container *ngIf="product.length!=0">

                <table style="TABLE-LAYOUT: fixed" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th > Sku</th>
                            <th width=10%> Name</th>
                            <th> Image</th>
                            <th width=60%> Description</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of product; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.sku}}</td>
                            <td>{{item.name}}</td>
                            <td><img src="{{item.imageUrl}}" alt=""/></td>
                            <td style="WORD-WRAP: break-word" width=60% class="h6" >{{item.description}}</td>
                            <td align="center">{{item.unitPrice}}</td>
                            <td align="right">
                                <!-- span  class="del"><i (click)="removeItem(item)" class="fas fa-trash-alt del"></i></span -->
                                <button (click)="removeItem(item)" class="btn btn-danger">Remove</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td align="right">
                                <button (click)="emptyCart()" class="btn btn-danger">Empty Cart</button>
                                &nbsp; &nbsp; &nbsp;
                                <button routerLink="/product" class="btn btn-primary">Shop More</button>
                                &nbsp; &nbsp; &nbsp;
                                <button (click)="checkout()" class="btn btn-success">Check Out</button>
                            </td>
                            <td align="center"><strong>Total: </strong></td>
                            <td>{{grandTotal}}</td>
                        </tr>
                    </tbody>
                </table>

    </ng-container>
    
    <ng-container *ngIf="product.length=== 0">
        <div class="container">
            <div class="card">
                <i class="fas fa-exclamation"></i>
                <h3>Your Cart is empty</h3>
                <h5>Add item to it now</h5>
                <button routerLink="/product">Shop now</button>
            </div>
        </div>
    </ng-container>
    
