
<table width="100%">
  <thead>
      <tr>
          <th><h2>Edit the product</h2></th>
          <!-- th>ID: {{product.id}}</th -->
          <th>SKU: {{my_sku}}</th>
      </tr>
  </thead>
</table>
<form (submit)="editProduct(editProductForm.value)" #editProductForm="ngForm">
    <div class="form-group">
      <label for="name">Name: {{my_name}}</label>
      <input type="text" class="form-control" id="name" name="name" placeholder={{my_name}} ngModel>
    </div>
    <div class="form-group">
      <label for="description">Description: {{my_description}}</label>
      <input type="text" class="form-control" id="description" name="description" placeholder={{my_description}} ngModel>
    </div>
    <div class="form-group">
      <label for="unit_price">Price: {{my_unitPrice}}</label>
      <input type="text" class="form-control" id="unitPrice" name="unitPrice" placeholder={{my_unitPrice}}  ngModel>
    </div>
    <div class="form-group">
      <label for="imageUrl">Image URL: {{my_imageUrl}}</label>
      <input type="text" class="form-control" id="imageUrl" name="imageUrl" placeholder={{my_imageUrl}} ngModel>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  <a routerLink="/productlist" class="btn btn-link">Product Management</a>
