<table width="100%">
    <thead>
        <tr>
            <th><h2>Product Management</h2></th>
            <th>User: {{my_username}}</th>
            <th>Profile: {{my_userrole}}</th>
        </tr>
    </thead>
  </table>
  <hr/>
  <table style="TABLE-LAYOUT: fixed" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <!-- th>ID</th -->
            <th width=10%> Sku</th>
            <th> Name</th>
            <th  width=10%> Image</th>
            <th width=60%> Description</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <!-- td>{{product.id}}</td -->
            <td  width=10%>{{product.sku}}</td>
            <td>{{product.name}}</td>
            <td  width=10%><img src="{{product.imageUrl}}"  width="40"/></td>
            <td style="WORD-WRAP: break-word" width=60% class="h6" >{{product.description}}</td>
            <td align="center">{{product.unitPrice}}</td>
            <td align="right">
                <button (click)="editProduct(product.sku, product.name, product.imageUrl, product.description, product.unitPrice)" class="btn btn-primary">Edit</button>
            </td>
            <td align="right">
                <button (click)="removeProduct(product)" class="btn btn-danger">Remove</button>
            </td>
            <hr/>
        </tr>

    </tbody>
</table>

<hr/>

<div class="container">
<div align="Center">
<button routerLink="/productadd" class="btn btn-primary">Add a new product</button>
</div>
</div>

<!-- app-p-details [product]="product"></app-p-details -->