<h2>Products</h2>
<!-- div style="float:right;"><button routerLink="/cart">Shopping Cart</button></div>
<p></p>
<br -->
<!-- div>
    <h2
      *ngFor="let data of dataset | paginate: { itemsPerPage: 4, currentPage: pages }"
    >
      {{ data }} 
				<button type="button" class="btn btn-primary" (click)="AddToCart(product)">Add to Shopping Cart</button>

    </h2>
    <button><a href="/product">Shop now</a></button>
    <button routerLink="/product">Shop now</button>
    <button type="button" routerLink="/product">Shopping Cart</button>
  </div -->
  <div *ngFor="let product of products">
    <h2>
      <img src="{{product.imageUrl}}" width=100/>
      {{product.sku}}:  {{product.name}}:    $ {{product.unitPrice}} 
    </h2>
    <div style="float:right;"><button type="button" class="btn btn-primary" (click)="addToCart(product)"> Add to Cart </button></div>
    <br>
    {{product.description}} 
    <hr style="height:2px;border:none;border-top:2px groove skyblue;" />
    <!-- div>
      <img src="{{product.imageUrl}}" alt="">
      <h5>{{product.name}}</h5>
      <p>{{product.description}} </p>
      <h6><Strong>Price:</Strong> {{product.unitPrice}}</h6>
      <button type="button" class="btn btn-primary" (click)="addToCart(product)"> Add to Cart </button>
  </div -->
</div>
  <!-- pagination-controls (pageChange)="pages = $event"></pagination-controls -->