<h2>Edit the user: {{my_username}}</h2>
<form (submit)="editUser(editUserForm.value)" #editUserForm="ngForm">
    <div class="form-group">
        <label for="phone">Phone: {{my_phone}}</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder={{my_phone}} ngModel>
      </div>
      <div class="form-group">
        <label for="email">Email: {{my_email}}</label>
        <input type="text" class="form-control" id="email" name="email" placeholder={{my_email}} ngModel>
      </div>
      <div class="form-group">
        <label for="address1">Address1: {{my_address1}}</label>
        <input type="text" class="form-control" id="address1" name="address1" placeholder={{my_address1}}  ngModel>
      </div>
      <div class="form-group">
        <label for="address2">Address2: {{my_address2}}</label>
        <input type="text" class="form-control" id="address2" name="address2" placeholder={{my_address2}}  ngModel>
      </div>
      <div class="form-group">
        <label for="city">City: {{my_city}}</label>
        <input type="text" class="form-control" id="city" name="city" placeholder={{my_city}} ngModel>
      </div>
      <div class="form-group">
        <label for="state">State: {{my_state}}</label>
        <input type="text" class="form-control" id="state" name="state" placeholder={{my_state}}  ngModel>
      </div>
      <div class="form-group">
        <label for="zip">Zip: {{my_zip}}</label>
        <input type="text" class="form-control" id="zip" name="zip" placeholder={{my_zip}}  ngModel>
      </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  <a routerLink="/userlist" class="btn btn-link">User Management</a>
