<table width="100%">
  <thead>
      <tr>
          <th><h2>User Management</h2></th>
          <th>User: {{my_username}}</th>
          <th>Profile: {{my_userrole}}</th>
      </tr>
  </thead>
</table>
<hr/>
<div class="card my-5">
    <div class="card-body">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <!-- th scope="col">ID</th -->
            <th scope="col">Name</th>
            <th scope="col">Profile</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Address1</th>
            <th scope="col">Address2</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <!-- td>{{ user.id }}</td -->
            <td>{{ user.username }}</td>
            <!-- td *ngFor="let pr of user.profiles">{{pr}} </td -->
            <td>
              <li style="list-style-type: none;font-size:10px;" *ngFor="let pr of user.profiles">
                {{pr.type}}
              </li>
            </td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>            
            <td>{{ user.address1 }}</td>           
            <td>{{ user.address2 }}</td>
            <td>{{ user.city }}</td>            
            <td>{{ user.state }}</td>           
            <td>{{ user.zip }}</td>
            <td align="right">
                <button (click)="editUser(user.username, user.phone, user.email, user.address1, user.address2, user.city, user.state, user.zip)" class="btn btn-primary">Edit</button>
            </td>
            <td align="right">
              <!-- span  class="del"><i (click)="removeorder(order)" class="fas fa-trash-alt del"></i></span -->
              <button (click)="removeUser(user)" class="btn btn-danger">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr/>
  <a routerLink="/register" class="btn btn-link">Register a new user</a>
