<table width="100%">
    <thead>
        <tr>
            <th><h2>Order Details</h2></th>
            <th>User: {{my_username}}</th>
            <th>Order ID: {{my_orderid}}</th>
            <th>Total Price: {{my_orderprice}}</th>
        </tr>
    </thead>
  </table>
<table style="TABLE-LAYOUT: fixed" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
          <th>No.</th>
          <th>Product</th>
          <th width="10%">Sku</th>
          <th >Image</th>
          <th>Price</th>
          <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let orderDetail of orderDetails; let i = index">
            <td>{{i+1}}</td>
            <td>{{orderDetail.product.name}} </td>
            <td>{{orderDetail.product.sku}} </td>
            <td><img src="{{orderDetail.product.imageUrl}}" alt=""/></td>
            <td>{{orderDetail.product.unitPrice}} </td>
            <!-- div>
                <ul>
                  <li *ngFor="let p of orderDetail.product"> {{ p }}</li>
                </ul>
            </div -->
            <td>{{orderDetail.amount}}</td>
            <!-- td>{{orderDetail.product.unitPrice}} * {{orderDetail.amount}} </td -->
        </tr>
        <tr>
            <td colspan="2"></td>
            <td align="right">
                <button routerLink="/cart" class="btn btn-primary">Shopping Cart</button>
            </td>
            <td align="right">
                <button routerLink="/product" class="btn btn-primary">Shop More</button>
            </td>
            <td align="right">
                <button routerLink="/order" class="btn btn-success">My Orders</button>
            </td>
        </tr>       
    </tbody>
</table>