<h2>Register</h2>
<form (submit)="register(registerForm.value)" #registerForm="ngForm">
  <div class="form-group">
    <label for="username">*Username</label>
    <input type="text" class="form-control" required id="username" name="username" ngModel>
  </div>
  <div class="form-group">
    <label for="password">*Password</label>
    <input type="password" class="form-control" required id="password" name="password" ngModel>
  </div>
  <div class="phone">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" name="phone" ngModel>
  </div>
  <div class="email">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" ngModel>
  </div>
  <div class="address1">
    <label for="address1">Address1</label>
    <input type="text" class="form-control" id="address1" name="address1" ngModel>
  </div>
  <div class="address2">
    <label for="address2">address2</label>
    <input type="text" class="form-control" id="address2" name="address2" ngModel>
  </div>
  <div class="city">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" name="city" ngModel>
  </div>
  <div class="state">
    <label for="state">State</label>
    <input type="text" class="form-control" id="state" name="state" ngModel>
  </div>
  <div class="zip">
    <label for="zip">Zip Code</label>
    <input type="text" class="form-control" id="zip" name="zip" ngModel>
  </div>
  <button class="btn btn-primary" type="submit">Click to register</button>
</form>

<!-- phone, email, address1, address2, city, state, zip -->







